<% provide :title,  @artist.name %>

<nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Artist profile</p>
      <p class="title"><%= @artist.name %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <%= link_to "Edit", edit_artist_path(@artist), class: "button is-outlined" %>
    </div>
  </div>
  <div class="level-item has-text-centered">
      <div>
          <%= link_to "Delete", artist_path(@artist), method: :delete,
            data: { confirm: "Are you sure?" }, class: "button is-danger is-outlined" %>
      </div>
  </div>
</nav>

<section class="section">
  <div class="container">
    <div class="content">
      <%= @artist.description %>
    </div>
  </div>
  <br />
  <div>
    <%= link_to "#{@artist.lps.count} LPs from
      this artist", artist_lps_path(@artist.id), class: "button is-light" %>
  </div>
</section>
