<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <p class="title">
        <%= link_to 'Discography project Task', root_path %>
      </p>
    </div>
  </div>
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class= <%= not_current?(root_path, "is-active") %>>
            <%= link_to "Home", root_path %>
          </li>
          <li class= <%= not_current?(artists_path, "is-active") %>>
            <%= link_to "Artists", artists_path, style: "font-weight:bold" %>
          </li>
          <li class= <%= not_current?(lps_path, "is-active") %>>
            <%= link_to "LPs", lps_path, style: "font-weight:bold" %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
</section>
