<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <p class="subtitle is-3">
        Discography
      </p>
    </div>
  </div>
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class= <%= current?(root_path, "is-active") %>>
            <%= link_to "HOME", root_path%>
          </li>
          <li class= <%= current?(artists_path, "is-active") %>>
            <%= link_to "ARTISTS", artists_path%>
          </li>
          <li class= <%= current?(lps_path, "is-active") %>>
            <%= link_to "RECORDS", lps_path %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
